__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env*
venv/
.Python
build/
dist/
.eggs/
*.egg-info/
.installed.cfg
*.egg
htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache/
*.db
*.sqlite3
.DS_Store
Thumbs.db
\n.vscode/
